body {
    background: #eef4ff;
    font-family: Arial, sans-serif;
}

.profile-card {
    width: 400px;
    background: #fff;
    margin: 40px auto;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.15);
    position: relative;
    text-align: center;
}

/* avatar */
.avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.edit-btn {
    position: absolute;
    right: 5px;
    top: 60px;
    padding: 6px 12px;
    border-radius: 8px;
    cursor: pointer;
    z-index: 10;
}


/* ฟอร์มทั้งหมด */
form {
    text-align: left;
    margin-top: 28px; /* ดันฟอร์มลงจากหัวการ์ด */
}

/* กลุ่ม ชื่อ-นามสกุล + Edit */
.field-with-edit {
    margin-top: 20px; /* ดันลงจากด้านบน */
}

/* label ของทุกช่อง */
label {
    display: block;
    margin-top: 20px;   /* ระยะห่างระหว่างแต่ละช่อง */
    margin-bottom: 6px;
}

/* กล่อง input ทุกอัน */
input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px; /* ดันช่องถัดไปลง */
    box-sizing: border-box;
}

/* ปุ่ม Save */
.save-btn {
    width: 100%;
    margin-top: 30px;   /* ดันปุ่ม Save ลง */
    padding: 12px;
    background: #b0b0b0;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 6px;
}

/* ปุ่ม Back */
.back-btn {
    display: inline-block;
    margin-top: 25px;  /* ดัน Back ลง */
    text-decoration: underline;
    color: black;
}
























